<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
<style>
  .navContainer{
    padding-top: 5px;
    padding-bottom: 5px;
    height: 50px; 
  }
  .navLink{
    font-size: 24px;
    padding: 10px;
    text-decoration: none;
    color: white;
  }
  nav{
    border: 1px solid white;
  }
</style>
<nav class="navbar navbar-expand lg" style="background-color: black;">
  <div class="navContainer">
    <a href="/" class="navLink">Home Page</a>
    <a href="/books" class="navLink">Books</a>
  </div>
</nav>
